[package]
name = "egui_window_winit"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
winit = { version = "0.27.2", features = [] }
egui_backend = { path = "../egui_backend" }
glutin = { version = "*" }
