[package]
name = "egui_backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
raw-window-handle = "0.4"
egui = { version = "0.18.1", features = ["bytemuck"]}
